:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:whitesmoke;
}

html{
  height: 100%;
  width: 100%;
}

body{
  background-image: url('C:\Users\rkroh\OneDrive\Desktop\musiflow\src\assets\bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}